nav.navbar.navbar-default.navbar-fixed-top#main-nav
	.container
		div.navbar-header
			button(type="button", data-toggle="collapse" data-target="#main-nav-collapse").navbar-toggle.collapsed
				span.sr-only Toggle navigation
				| Menu 
				i.fa.fa-bars
			a(href='/').navbar-brand
				img(src="/images/logos/gwwc-logo-nav.png")
				//- != siteInfo.title

